{
  "Entries": [
    {
      "RequestUri": "/subscriptions/0a496442-635f-4974-bda4-2d339b9a6b3c/resourcegroups/onesdk969?api-version=2014-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceGroupNotFound\",\r\n    \"message\": \"Resource group 'onesdk969' could not be found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
      },
      "StatusCode": 404
    }
  ],
  "Names": {
    "Test-GetNonExistingResourceGroup": [
      "onesdk969"
    ]
  }
}