{"Entries":[{"RequestUri":"/subscriptions/0a496442-635f-4974-bda4-2d339b9a6b3c/resourcegroups/onesdk7403?api-version=2014-04-01-preview","RequestMethod":"HEAD","RequestBody":"","RequestHeaders":{"User-Agent":["Microsoft.Azure.Management.Resources.ResourceManagementClient/2.0.0.0","WindowsAzurePowershell/v0.7.4"]},"ResponseBody":"","ResponseHeaders":{"Pragma":["no-cache"],"x-ms-request-id":["75b8de09-2d24-4a93-8266-07fb501b8a8c"],"x-ms-correlation-request-id":["75b8de09-2d24-4a93-8266-07fb501b8a8c"],"x-ms-routing-request-id":["CENTRALUS:20140401T232208Z:75b8de09-2d24-4a93-8266-07fb501b8a8c"],"Cache-Control":["no-cache"],"Date":["Tue, 01 Apr 2014 23:22:07 GMT"],"Server":["Microsoft-IIS/8.5"]},"StatusCode":404}],"Names":{"Test-RemoveNonExistingResourceGroup":["onesdk7403"]}}