{"Entries":[{"RequestUri":"/subscriptions/0a496442-635f-4974-bda4-2d339b9a6b3c/resourcegroups/onesdk2208?api-version=2014-04-01-preview","RequestMethod":"GET","RequestBody":"","RequestHeaders":{"User-Agent":["Microsoft.Azure.Management.Resources.ResourceManagementClient/2.0.0.0","WindowsAzurePowershell/v0.7.4"]},"ResponseBody":"{\r\n  \"error\": {\r\n    \"code\": \"ResourceGroupNotFound\",\r\n    \"message\": \"Resource group 'onesdk2208' could not be found.\"\r\n  }\r\n}","ResponseHeaders":{"Pragma":["no-cache"],"x-ms-request-id":["10f0f397-c3e4-4aa9-b818-828d803220b8"],"x-ms-correlation-request-id":["10f0f397-c3e4-4aa9-b818-828d803220b8"],"x-ms-routing-request-id":["CENTRALUS:20140401T232018Z:10f0f397-c3e4-4aa9-b818-828d803220b8"],"Cache-Control":["no-cache"],"Date":["Tue, 01 Apr 2014 23:20:17 GMT"],"Server":["Microsoft-IIS/8.5"]},"StatusCode":404}],"Names":{"Test-GetNonExistingResourceGroup":["onesdk2208"]}}