{"Entries":[{"RequestUri":"/subscriptions/0a496442-635f-4974-bda4-2d339b9a6b3c/resourceGroups/abc-123/resources?api-version=2014-04-01-preview","RequestMethod":"GET","RequestBody":"","RequestHeaders":{"User-Agent":["Microsoft.Azure.Management.Resources.ResourceManagementClient/2.0.0.0","WindowsAzurePowershell/v0.7.4"]},"ResponseBody":"{\r\n  \"value\": []\r\n}","ResponseHeaders":{"Pragma":["no-cache"],"x-ms-request-id":["4badf351-5dbd-4b34-b490-f7843797f343"],"x-ms-correlation-request-id":["4badf351-5dbd-4b34-b490-f7843797f343"],"x-ms-routing-request-id":["CENTRALUS:20140401T232031Z:4badf351-5dbd-4b34-b490-f7843797f343"],"Cache-Control":["no-cache"],"Date":["Tue, 01 Apr 2014 23:20:30 GMT"],"Server":["Microsoft-IIS/8.5"]},"StatusCode":200},{"RequestUri":"/subscriptions/0a496442-635f-4974-bda4-2d339b9a6b3c/resourceGroups/Default-Web/resources?api-version=2014-04-01-preview","RequestMethod":"GET","RequestBody":"","RequestHeaders":{"User-Agent":["Microsoft.Azure.Management.Resources.ResourceManagementClient/2.0.0.0","WindowsAzurePowershell/v0.7.4"]},"ResponseBody":"{\r\n  \"value\": []\r\n}","ResponseHeaders":{"Pragma":["no-cache"],"x-ms-request-id":["bd0a8b4c-f1fb-4519-bfde-d18f02d3c5b7"],"x-ms-correlation-request-id":["bd0a8b4c-f1fb-4519-bfde-d18f02d3c5b7"],"x-ms-routing-request-id":["CENTRALUS:20140401T232032Z:bd0a8b4c-f1fb-4519-bfde-d18f02d3c5b7"],"Cache-Control":["no-cache"],"Date":["Tue, 01 Apr 2014 23:20:31 GMT"],"Server":["Microsoft-IIS/8.5"]},"StatusCode":200},{"RequestUri":"/subscriptions/0a496442-635f-4974-bda4-2d339b9a6b3c/resourceGroups/DrupalCommerceKickstartonMySQL-Group/resources?api-version=2014-04-01-preview","RequestMethod":"GET","RequestBody":"","RequestHeaders":{"User-Agent":["Microsoft.Azure.Management.Resources.ResourceManagementClient/2.0.0.0","WindowsAzurePowershell/v0.7.4"]},"ResponseBody":"{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/0a496442-635f-4974-bda4-2d339b9a6b3c/resourceGroups/DrupalCommerceKickstartonMySQL-Group/providers/microsoft.insights/alertrules/ServerErrors-drupalcommercekickstartonmysql-group-ws\",\r\n      \"name\": \"ServerErrors-drupalcommercekickstartonmysql-group-ws\",\r\n      \"type\": \"microsoft.insights/alertrules\",\r\n      \"location\": \"eastus\",\r\n      \"tags\": {\r\n        \"link:/subscriptions/0a496442-635f-4974-bda4-2d339b9a6b3c/resourcegroups/DrupalCommerceKickstartonMySQL-Group/providers/Microsoft.Web/sites/drupalcommercekickstartonmysql-group-ws\": \"Resource\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/0a496442-635f-4974-bda4-2d339b9a6b3c/resourceGroups/DrupalCommerceKickstartonMySQL-Group/providers/microsoft.insights/autoscalesettings/Plan-DrupalCommerceKickstartonMySQL-Group\",\r\n      \"name\": \"Plan-DrupalCommerceKick[...]
