{"Entries":[{"RequestUri":"/subscriptions/0a496442-635f-4974-bda4-2d339b9a6b3c/resourcegroups/onesdk3439?api-version=2014-04-01-preview","RequestMethod":"HEAD","RequestBody":"","RequestHeaders":{"User-Agent":["Microsoft.Azure.Management.Resources.ResourceManagementClient/2.0.0.0","WindowsAzurePowershell/v0.7.4"]},"ResponseBody":"","ResponseHeaders":{"Pragma":["no-cache"],"x-ms-request-id":["91bd3a65-2f01-4375-af94-e46ac5b5ed7c"],"x-ms-correlation-request-id":["91bd3a65-2f01-4375-af94-e46ac5b5ed7c"],"x-ms-routing-request-id":["CENTRALUS:20140401T232007Z:91bd3a65-2f01-4375-af94-e46ac5b5ed7c"],"Cache-Control":["no-cache"],"Date":["Tue, 01 Apr 2014 23:20:06 GMT"],"Server":["Microsoft-IIS/8.5"]},"StatusCode":404},{"RequestUri":"/subscriptions/0a496442-635f-4974-bda4-2d339b9a6b3c/resourcegroups/onesdk3439?api-version=2014-04-01-preview","RequestMethod":"PUT","RequestBody":"{\r\n  \"location\": \"non-existing\"\r\n}","RequestHeaders":{"User-Agent":["Microsoft.Azure.Management.Resources.ResourceManagementClient/2.0.0.0","WindowsAzurePowershell/v0.7.4"]},"ResponseBody":"{\r\n  \"error\": {\r\n    \"code\": \"InvalidResourceLocation\",\r\n    \"message\": \"The provided location 'non-existing' is not supported. List of available regions is 'centralus, eastasia, southeastasia, eastus, westus, northcentralus, southcentralus, northeurope, westeurope'\"\r\n  }\r\n}","ResponseHeaders":{"Pragma":["no-cache"],"x-ms-request-id":["91596b7f-d192-4e96-a072-7d822cc4fff0"],"x-ms-correlation-request-id":["91596b7f-d192-4e96-a072-7d822cc4fff0"],"x-ms-routing-request-id":["CENTRALUS:20140401T232007Z:91596b7f-d192-4e96-a072-7d822cc4fff0"],"Cache-Control":["no-cache"],"Date":["Tue, 01 Apr 2014 23:20:07 GMT"],"Server":["Microsoft-IIS/8.5"]},"StatusCode":400}],"Names":{"Test-NewResourceGroupInNonExistingLocation":["onesdk3439"]}}