{"Entries":[{"RequestUri":"/subscriptions/0a496442-635f-4974-bda4-2d339b9a6b3c/resourcegroups/onesdk2154/deployments/Build2014_Website_App/operations?&api-version=2014-04-01-preview","RequestMethod":"GET","RequestBody":"","RequestHeaders":{"User-Agent":["Microsoft.Azure.Management.Resources.ResourceManagementClient/2.0.0.0","WindowsAzurePowershell/v0.7.4"]},"ResponseBody":"{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/0a496442-635f-4974-bda4-2d339b9a6b3c/resourcegroups/onesdk2154/deployments/Build2014_Website_App/operations/391AD72BFADBD143\",\r\n      \"operationId\": \"391AD72BFADBD143\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"timestamp\": \"2014-04-01T23:44:55.6421327Z\",\r\n        \"trackingId\": \"a17c716e-411c-4f6a-ba60-8ff6bde36ffe\",\r\n        \"statusCode\": \"Created\",\r\n        \"statusMessage\": null,\r\n        \"targetResource\": {\r\n          \"id\": \"/subscriptions/0a496442-635f-4974-bda4-2d339b9a6b3c/resourcegroups/onesdk2154/providers/microsoft.insights/alertrules/CPUHighonesdk518\",\r\n          \"resourceType\": \"microsoft.insights/alertrules\",\r\n          \"resourceName\": \"CPUHighonesdk518\"\r\n        }\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/0a496442-635f-4974-bda4-2d339b9a6b3c/resourcegroups/onesdk2154/deployments/Build2014_Website_App/operations/B6E4186F1DF16DAA\",\r\n      \"operationId\": \"B6E4186F1DF16DAA\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"timestamp\": \"2014-04-01T23:44:26.8537579Z\",\r\n        \"trackingId\": \"849e23ef-f9c5-4434-92bf-bd05377bcfbb\",\r\n        \"statusC[...]
