{"Entries":[{"RequestUri":"/subscriptions/0a496442-635f-4974-bda4-2d339b9a6b3c/resourcegroups/onesdk2765?api-version=2014-04-01-preview","RequestMethod":"HEAD","RequestBody":"","RequestHeaders":{"User-Agent":["Microsoft.Azure.Management.Resources.ResourceManagementClient/2.0.0.0","WindowsAzurePowershell/v0.7.4"]},"ResponseBody":"","ResponseHeaders":{"Pragma":["no-cache"],"x-ms-request-id":["c98f0ce9-246c-4adf-bffc-bb434402ac00"],"x-ms-correlation-request-id":["c98f0ce9-246c-4adf-bffc-bb434402ac00"],"x-ms-routing-request-id":["CENTRALUS:20140401T233306Z:c98f0ce9-246c-4adf-bffc-bb434402ac00"],"Cache-Control":["no-cache"],"Date":["Tue, 01 Apr 2014 23:33:08 GMT"],"Server":["Microsoft-IIS/8.5"]},"StatusCode":204},{"RequestUri":"/subscriptions/0a496442-635f-4974-bda4-2d339b9a6b3c/resourcegroups/onesdk2765/providers/Microsoft.Sql//servers/onesdk6353?api-version=2014-04-01","RequestMethod":"GET","RequestBody":"","RequestHeaders":{"User-Agent":["Microsoft.Azure.Management.Resources.ResourceManagementClient/2.0.0.0","WindowsAzurePowershell/v0.7.4"]},"ResponseBody":"{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"Resource not found.\"\r\n  }\r\n}","ResponseHeaders":{"Pragma":["no-cache"],"x-ms-request-id":["f2ae2601-1757-4378-bb3b-d6228dd319fe"],"x-ms-correlation-request-id":["f2ae2601-1757-4378-bb3b-d6228dd319fe"],"x-ms-routing-request-id":["CENTRALUS:20140401T233309Z:f2ae2601-1757-4378-bb3b-d6228dd319fe"],"Cache-Control":["no-cache"],"Date":["Tue, 01 Apr 2014 23:33:09 GMT"],"Server":["Microsoft-IIS/8.5"]},"StatusCode":404},{"RequestUri":"/subscriptions/0a496442-635f-4974-bda4-2d339b9a6b3c/resourcegroups/onesdk2765/providers/Microsoft.Sql//servers/onesdk6353?validating=nameValidation&api-version=2014-04-01","RequestMethod":"PUT","RequestBody":"{\r\n  \"location\": \"Northwest US\",\r\n  \"properties\": {\r\n    \"administratorLoginPassword\": \"P@ssword1\",\r\n    \"administratorLogin\": \"adminuser\"\r\n  }\r\n}","RequestHeaders":{"User-Agent":["Microsoft.Azure.Management.Resources.ResourceManagementClient/2.0.0.0","WindowsAzurePowershell/v0.7.4"]},"ResponseBody":"{\r\n  \"odata.metadata\": \"https://management.sqldogfood.sqlazurelabs.com:8443/v2/ManagementService.Trusted.svc/modules/ServerProvisioning/$metadata#servers/@Element\",\r\n  \"id\": \"/subscriptions/0a496442-635f-4974-bda4-2d339b9a6b3c/resourceGroups/onesdk2765/providers/Microsoft.Sql/servers/onesdk6353\",\r\n  \"name\": \"onesdk6353\",\r\n  \"type\": \"Microsoft.Sql/servers\",\r\n  \"location\": \"Northwest US\",\r\n  \"properties\": {\r\n    \"fullyQualifiedDomainName\": \"onesdk6353.sqldogfood.sqlazurelabs.com\",\r\n    \"administratorLogin\": \"adminuser\",\r\n    \"administratorLoginPassword\": \"P@ssword1\",\r\n    \"version\": \"1.0\"\r\n  }\r\n}","ResponseHeaders":{"x-ms-request-id":["3620c839-dc86-47f3-8cb6-8324ab7a97cf"],"X-Content-Type-Options":["nosniff"],"Preference-Applied":["return-content"],"DataServiceVersion":["3.0;"],"Cache-Control":["no-store, no-cache"],"Server":["Microsoft-IIS/8.5","Microsoft-HTTPAPI/2.0"],"x-ms-correlation-request-id":["fb4d7793-202a-40cf-991e-224b571d1aab"],"x-ms-routing-request-id":["CENTRALUS:20140401T233316Z:fb4d7793-202a-40cf-991e-224b571d1aab"],"Date":["Tue, 01 Apr 2014 23:33:16 GMT"]},"StatusCode":201},{"RequestUri":"/subscriptions/0a496442-635f-4974-bda4-2d339b9a6b3c/resourcegroups/onesdk2765/providers/Microsoft.Sql//servers/onesdk6353?api-version=2014-04-01","RequestMet[...]
