{"Entries":[{"RequestUri":"/subscriptions/0a496442-635f-4974-bda4-2d339b9a6b3c/resourcegroups/onesdk7171?api-version=2014-04-01-preview","RequestMethod":"PUT","RequestBody":"{\r\n  \"location\": \"West US\"\r\n}","RequestHeaders":{"User-Agent":["Microsoft.Azure.Management.Resources.ResourceManagementClient/2.0.0.0","WindowsAzurePowershell/v0.7.4"]},"ResponseBody":"{\r\n  \"id\": \"/subscriptions/0a496442-635f-4974-bda4-2d339b9a6b3c/resourcegroups/onesdk7171\",\r\n  \"name\": \"onesdk7171\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}","ResponseHeaders":{"Pragma":["no-cache"],"x-ms-request-id":["1ecc9cb3-b6c1-44d9-8645-e5b313928090"],"x-ms-correlation-request-id":["1ecc9cb3-b6c1-44d9-8645-e5b313928090"],"x-ms-routing-request-id":["CENTRALUS:20140401T233039Z:1ecc9cb3-b6c1-44d9-8645-e5b313928090"],"Cache-Control":["no-cache"],"Date":["Tue, 01 Apr 2014 23:30:39 GMT"],"Server":["Microsoft-IIS/8.5"]},"StatusCode":201},{"RequestUri":"/subscriptions/0a496442-635f-4974-bda4-2d339b9a6b3c/resourceGroups/onesdk7171/resources?api-version=2014-04-01-preview","RequestMethod":"GET","RequestBody":"","RequestHeaders":{"User-Agent":["Microsoft.Azure.Management.Resources.ResourceManagementClient/2.0.0.0","WindowsAzurePowershell/v0.7.4"]},"ResponseBody":"{\r\n  \"value\": []\r\n}","ResponseHeaders":{"Pragma":["no-cache"],"x-ms-request-id":["b81e9eea-1084-4dc6-b221-8c58e78a864a"],"x-ms-correlation-request-id":["b81e9eea-1084-4dc6-b221-8c58e78a864a"],"x-ms-routing-request-id":["CENTRALUS:20140401T233039Z:b81e9eea-1084-4dc6-b221-8c58e78a864a"],"Cache-Control":["no-cache"],"Date":["Tue, 01 Apr 2014 23:30:39 GMT"],"Server":["Microsoft-IIS/8.5"]},"StatusCode":200},{"RequestUri":"/subscriptions/0a496442-635f-4974-bda4-2d339b9a6b3c/resourcegroups/onesdk7171?api-version=2014-04-01-preview","RequestMethod":"HEAD","RequestBody":"","RequestHeaders":{"User-Agent":["Microsoft.Azure.Management.Resources.ResourceManagementClient/2.0.0.0","WindowsAzurePowershell/v0.7.4"]},"ResponseBody":"","ResponseHeaders":{"Pragma":["no-cache"],"x-ms-request-id":["738b51a9-38e1-4f71-98ca-9dd77dbe00ed"],"x-ms-correlation-request-id":["738b51a9-38e1-4f71-98ca-9dd77dbe00ed"],"x-ms-routing-request-id":["CENTRALUS:20140401T233039Z:738b51a9-38e1-4f71-98ca-9dd77dbe00ed"],"Cache-Control":["no-cache"],"Date":["Tue, 01 Apr 2014 23:30:41 GMT"],"Server":["Microsoft-IIS/8.5"]},"StatusCode":204},{"RequestUri":"/subscriptions/0a496442-635f-4974-bda4-2d339b9a6b3c/resourcegroups/onesdk7171/providers/Microsoft.Sql//servers/onesdk760?api-version=2014-04-01","RequestMethod":"GET","RequestBody":"","RequestHeaders":{"User-Agent":["Microsoft.Azure.Management.Resources.ResourceManagementClient/2.0.0.0","WindowsAzurePowershell/v0.7.4"]},"ResponseBody":"{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"Resource not found.\"\r\n  }\r\n}","ResponseHeaders":{"Pragma":["no-cache"],"x-ms-request-id":["71652428-7298-4d0b-a16d-9afc22ee1df0"],"x-ms-correlation-request-id":["71652428-7298-4d0b-a16d-9afc22ee1df0"],"x-ms-routing-request-id":["CENTRALUS:20140401T233042Z:71652428-7298-4d0b-a16d-9afc22ee1df0"],"Cache-Control":["no-cache"],"Date":["Tue, 01 Apr 2014 23:30:41 GMT"],"Server":["Microsoft-IIS/8.5"]},"StatusCode":404},{"RequestUri":"/subscriptions/0a496442-635f-4974-bda4-2d339b9a6b3c/resourcegroups/onesdk7171/providers/Microsoft.Sql//servers/onesdk760?validating=nameValidation&api-version=2014-04-01","RequestMethod":"PUT","RequestBody":"{\r\n  \"location\": \"Northwest US\",\r\n  \"properties\": {\r\n    \"administratorLoginPassword\": \"P@ssword1\",\r\n    \"administratorLogin\": \"adminuser\"\r\n  }\r\n}","RequestHeaders":{"User-Agent":["Microsoft.Azure.Management.Resources.ResourceManagementClient/2.0.0.0","WindowsAzurePowershell/v0.7.4"]},"ResponseBody":"{\r\n  \"odata.metadata\": \"https://management.sqldogfood.sqlazurelabs.com:8443/v2/ManagementService.Trusted.svc/modules/ServerProvisioning/$metadata#servers/@Element\",\r\n  \"id\": \"/subscriptions/0a496442-635f-4974-bda4-2d339b9a6b3c/resourceGroups/onesdk7171/providers/Microsoft.Sql/servers/onesdk760\",\r\n  \"name\": \"onesdk760\",\r\n  \"type\": \"Microsoft.Sql/servers\",\r\n  \"location\": \"Northwest US\",\r\n  \"properties\": {\r\n    \"fullyQualifiedDomainName\": \"onesdk760.sqldogfood.sqlazurelabs.com\",\r\n    \"administratorLogin\": \"adminuser\",\r\n    \"administratorLoginPassword\": \"P@ssword1\",\r\n    \"version\": \"1.0\"\r\n  }\r\n}","ResponseHeaders":{"x-ms-request-id":["a3dff479-ae4e-4d98-bcd1-7563d5dcb591"],"X-Content-Type-Options":["nosniff"],"Preference-Applied":["return-content"],"DataServiceVersion":["3.0;"],"Cache-Control":["no-store, no-cache"],"Server":["Microsoft-IIS/8.5","Microsoft-HTTPAPI/2.0"],"x-ms-correlation-request-id":["2de85e25-477c-478b-b895-33c30b1054b4"],"x-ms-routing-request-id":["CENTRALUS:20140401T233048Z:2de85e25-477c-478b-b895-33c30b1054b4"],"Date":["Tue, 01 Apr 2014 23:30:47 GMT"]},"StatusCode":201},{"RequestUri":"/subscriptions/0a496442-635f-4974-bda4-2d339b9a6b3c/resourcegroups/onesdk7171/providers/Microsoft.Sql//servers/onesdk760?api-version=2014-04-01","RequestMeth[...]
