{"Entries":[{"RequestUri":"/subscriptions/0a496442-635f-4974-bda4-2d339b9a6b3c/resourcegroups/onesdk3761/providers/Microsoft.Sql/servers/onesdk7348/databases/onesdk5712?api-version=2014-04-01","RequestMethod":"GET","RequestBody":"","RequestHeaders":{"User-Agent":["Microsoft.Azure.Management.Resources.ResourceManagementClient/2.0.0.0","WindowsAzurePowershell/v0.7.4"]},"ResponseBody":"{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"Resource not found.\"\r\n  }\r\n}","ResponseHeaders":{"Pragma":["no-cache"],"x-ms-request-id":["1fe7bfec-a709-4d55-ac62-41a6708e2ab8"],"x-ms-correlation-request-id":["1fe7bfec-a709-4d55-ac62-41a6708e2ab8"],"x-ms-routing-request-id":["CENTRALUS:20140401T232837Z:1fe7bfec-a709-4d55-ac62-41a6708e2ab8"],"Cache-Control":["no-cache"],"Date":["Tue, 01 Apr 2014 23:28:37 GMT"],"Server":["Microsoft-IIS/8.5"]},"StatusCode":404},{"RequestUri":"/subscriptions/0a496442-635f-4974-bda4-2d339b9a6b3c/resourcegroups/onesdk3761/providers/Microsoft.Sql/servers/onesdk7348/databases/onesdk5712?validating=nameValidation&api-version=2014-04-01","RequestMethod":"PUT","RequestBody":"{\r\n  \"location\": \"Northwest US\",\r\n  \"properties\": {\r\n    \"edition\": \"Web\",\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"maxSizeBytes\": \"1073741824\"\r\n  }\r\n}","RequestHeaders":{"User-Agent":["Microsoft.Azure.Management.Resources.ResourceManagementClient/2.0.0.0","WindowsAzurePowershell/v0.7.4"]},"ResponseBody":"{\r\n  \"odata.metadata\": \"https://onesdk7348.sqldogfood.sqlazurelabs.com/v2/ManagementService.Trusted.svc/modules/ServerManagement/$metadata#databases/@Element\",\r\n  \"id\": \"/subscriptions/0a496442-635f-4974-bda4-2d339b9a6b3c/resourceGroups/onesdk3761/providers/Microsoft.Sql/servers/onesdk7348/databases/onesdk5712\",\r\n  \"name\": \"onesdk5712\",\r\n  \"type\": \"Microsoft.Sql/servers/databases\",\r\n  \"location\": \"Northwest US\",\r\n  \"properties\": {\r\n    \"databaseId\": \"f02258a9-76f8-496a-a637-4dd0678c5947\",\r\n    \"edition\": \"Web\",\r\n    \"status\": \"Online\",\r\n    \"serviceLevelObjective\": \"Shared\",\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"maxSizeBytes\": \"1073741824\",\r\n    \"creationDate\": \"2014-04-01T23:28:38.81Z\"\r\n  }\r\n}","ResponseHeaders":{"x-ms-request-id":["7cbbae25-0bce-4712-835d-c0c5c25d42f2"],"X-Content-Type-Options":["nosniff"],"Preference-Applied":["return-content"],"DataServiceVersion":["3.0;"],"Cache-Control":["no-store, no-cache"],"Server":["Microsoft-IIS/8.5","Microsoft-HTTPAPI/2.0"],"x-ms-correlation-request-id":["2742f639-e62e-4f3a-9e7b-c98c4cd1f5ed"],"x-ms-routing-request-id":["CENTRALUS:20140401T232840Z:2742f639-e62e-4f3a-9e7b-c98c4cd1f5ed"],"Date":["Tue, 01 Apr 2014 23:28:40 GMT"]},"StatusCode":201},{"RequestUri":"/subscriptions/0a496442-635f-4974-bda4-2d339b9a6b3c/resourcegroups/onesdk3761/providers/Microsoft.Sql/servers/onesdk7348/databases/onesdk5712?api-version=201[...]
