{"Entries":[{"RequestUri":"/subscriptions/0a496442-635f-4974-bda4-2d339b9a6b3c/resourcegroups/onesdk9782/providers/Microsoft.Sql//servers/onesdk8146?validating=nameValidation&api-version=2014-04-01","RequestMethod":"PUT","RequestBody":"{\r\n  \"location\": \"Northwest US\",\r\n  \"properties\": {\r\n    \"administratorLoginPassword\": \"P@ssword1\",\r\n    \"administratorLogin\": \"adminuser\"\r\n  }\r\n}","RequestHeaders":{"User-Agent":["Microsoft.Azure.Management.Resources.ResourceManagementClient/2.0.0.0","WindowsAzurePowershell/v0.7.4"]},"ResponseBody":"{\r\n  \"odata.metadata\": \"https://management.sqldogfood.sqlazurelabs.com:8443/v2/ManagementService.Trusted.svc/modules/ServerProvisioning/$metadata#servers/@Element\",\r\n  \"id\": \"/subscriptions/0a496442-635f-4974-bda4-2d339b9a6b3c/resourceGroups/onesdk9782/providers/Microsoft.Sql/servers/onesdk8146\",\r\n  \"name\": \"onesdk8146\",\r\n  \"type\": \"Microsoft.Sql/servers\",\r\n  \"location\": \"Northwest US\",\r\n  \"properties\": {\r\n    \"fullyQualifiedDomainName\": \"onesdk8146.sqldogfood.sqlazurelabs.com\",\r\n    \"administratorLogin\": \"adminuser\",\r\n    \"administratorLoginPassword\": \"P@ssword1\",\r\n    \"version\": \"1.0\"\r\n  }\r\n}","ResponseHeaders":{"x-ms-request-id":["de0836f4-26ef-4307-bdbb-2078dba38250"],"X-Content-Type-Options":["nosniff"],"Preference-Applied":["return-content"],"DataServiceVersion":["3.0;"],"Cache-Control":["no-store, no-cache"],"Server":["Microsoft-IIS/8.5","Microsoft-HTTPAPI/2.0"],"x-ms-correlation-request-id":["45467fec-ad72-4d81-a650-554b6dce9b79"],"x-ms-routing-request-id":["CENTRALUS:20140401T232612Z:45467fec-ad72-4d81-a650-554b6dce9b79"],"Date":["Tue, 01 Apr 2014 23:26:11 GMT"]},"StatusCode":201},{"RequestUri":"/subscriptions/0a496442-635f-4974-bda4-2d339b9a6b3c/resourcegroups/onesdk9782/providers/Microsoft.Sql//servers/onesdk8146?api-version=2014-04-01","RequestMethod":"GET","RequestBody":"","RequestHeaders":{"User-Agent":["Microsoft.Azure.Management.Resources.ResourceManagementClient/2.0.0.0","WindowsAzurePowershell/v0.7.4"]},"ResponseBody":"{\r\n  \"odata.metadata\": \"https://management.sqldogfood.sqlazurelabs.com:8443/v2/ManagementService.Trusted.svc/modules/ServerProvisioning/[...]
