{"Entries":[{"RequestUri":"/subscriptions/0a496442-635f-4974-bda4-2d339b9a6b3c/resourcegroups/onesdk5628?api-version=2014-04-01-preview","RequestMethod":"HEAD","RequestBody":"","RequestHeaders":{"User-Agent":["Microsoft.Azure.Management.Resources.ResourceManagementClient/2.0.0.0","WindowsAzurePowershell/v0.7.4"]},"ResponseBody":"","ResponseHeaders":{"Pragma":["no-cache"],"x-ms-request-id":["162f48f7-8fdf-46e3-a3ce-a63496ed1c88"],"x-ms-correlation-request-id":["162f48f7-8fdf-46e3-a3ce-a63496ed1c88"],"x-ms-routing-request-id":["CENTRALUS:20140401T232456Z:162f48f7-8fdf-46e3-a3ce-a63496ed1c88"],"Cache-Control":["no-cache"],"Date":["Tue, 01 Apr 2014 23:24:55 GMT"],"Server":["Microsoft-IIS/8.5"]},"StatusCode":404}],"Names":{"Test-GetResourcesFromNonExisingGroup":["onesdk5628"]}}