{"Entries":[{"RequestUri":"/subscriptions/0a496442-635f-4974-bda4-2d339b9a6b3c/resources?api-version=2014-04-01-preview&$filter=resourceType%20eq%20'Non-Existing'","RequestMethod":"GET","RequestBody":"","RequestHeaders":{"User-Agent":["Microsoft.Azure.Management.Resources.ResourceManagementClient/2.0.0.0","WindowsAzurePowershell/v0.7.4"]},"ResponseBody":"{\r\n  \"value\": []\r\n}","ResponseHeaders":{"Pragma":["no-cache"],"x-ms-request-id":["40deb025-873c-47af-9905-98652694a49f"],"x-ms-correlation-request-id":["40deb025-873c-47af-9905-98652694a49f"],"x-ms-routing-request-id":["CENTRALUS:20140401T233254Z:40deb025-873c-47af-9905-98652694a49f"],"Cache-Control":["no-cache"],"Date":["Tue, 01 Apr 2014 23:32:54 GMT"],"Server":["Microsoft-IIS/8.5"]},"StatusCode":200}],"Names":{}}